In [21]:
import pandas as pd

composition = pd.read_csv('composition_indices.csv')
master_dexa = pd.read_csv('master_dexa_data.csv')

In [22]:
composition

,Unique ID,Patient Name,Scan Date,Measure,Result,Total Body Weight (kg),BMI (kg/m²),Basal Metabolic Rate (kcal/day),Total Body Fat (%),Fat Mass Index (FMI),...,Trunk/Legs Fat Ratio,Trunk/Limb Fat Mass Ratio,Visceral Fat Area (cm²),Visceral Fat Mass (g),Visceral Fat Volume (cm³),Subcutaneous Fat Area (cm²),Total Lean Body (%),Lean Mass Index (kg/m²),Appendicular Lean Mass Index (kg/m²),Total Bone Mass (%)
0,1K3A0816AB03302780M_A1K3A0816BS0G,1K3A0816AB03302780M,10/8/2019,NaN,NaN,73.259960,25.087907,1760.957492,22.895339,5.622487,...,1.243445,0.930888,73.704724,355.351478,384.163760,193.972913,77.104661,18.934858,8.696294,3.531449
1,1K3A0816AB03302780M_A1K3A090RVL06,1K3A0816AB03302780M,10/9/2019,NaN,NaN,72.090222,25.087907,1760.957492,22.760083,5.500029,...,1.272073,0.948866,71.363206,344.062354,371.959301,195.191950,77.239917,18.665211,8.580785,3.485970
2,1K3A14188Q03302780M_A1K3A14189V09,1K3A14188Q03302780M,10/14/2019,NaN,NaN,90.523653,33.004654,1751.926485,26.724471,8.740196,...,1.773284,1.283968,196.949515,949.549742,1026.540261,299.384330,73.275529,23.964645,10.602273,2.732878
3,1K3A170TDJ02302780M_A1K3A170THL08,1K3A170TDJ02302780M,10/17/2019,NaN,NaN,99.209814,36.315578,1970.847811,48.344493,17.066574,...,1.363153,0.962334,199.943584,963.985002,1042.145948,490.371220,51.655507,18.235428,8.185958,2.682769
4,1K3A170VMM03302780M_A1K3A170VNN0B,1K3A170VMM03302780M,10/17/2019,NaN,NaN,95.405883,37.908010,1478.144394,41.878678,15.603412,...,2.301694,1.517352,307.330130,1481.726147,1601.866105,566.000064,58.121322,21.655195,9.637132,2.621153
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560,1K61210VJL01302780M_A1K98050U5I06,1K61210VJL01302780M,8/5/2025,NaN,NaN,103.938504,28.142259,1807.528960,41.405969,11.549011,...,1.033831,0.784340,129.941213,626.483619,677.279588,493.757277,58.594031,16.343129,6.747190,3.668091
561,1K7C270RZ201302780M_A1K98060WHP08,1K7C270RZ201302780M,8/6/2025,NaN,NaN,94.515291,43.019292,1972.415623,48.579331,20.795743,...,1.585969,1.112869,329.740942,1589.775055,1718.675735,481.960704,51.420669,22.012057,9.706936,1.856631
562,1K632801Y101302780M_A1K98080VDO09,1K632801Y101302780M,8/8/2025,NaN,NaN,67.774068,24.827925,1762.402608,41.715651,10.372141,...,2.589895,1.729145,203.125225,979.324602,1058.729300,403.379899,58.284349,14.491768,5.895306,3.150147
563,1K81030RA301302780M_A1K98150O1006,1K81030RA301302780M,8/15/2025,NaN,NaN,63.507133,23.441011,1704.920632,38.587174,9.045822,...,1.467348,1.050685,133.749205,644.843034,697.127605,340.233894,61.412826,14.396739,5.844896,3.751293
564,1K781013ZU03302780M_A1K981914WX09,1K781013ZU03302780M,8/19/2025,NaN,NaN,145.988123,41.932529,2782.039422,35.451471,14.649436,...,1.338690,1.034739,158.688085,765.080486,827.114039,715.645667,64.548529,26.673070,12.106289,2.402746

In [5]:
master_dexa

,Unique ID,Patient Name,Scan Date,Body Part,% Fat,Tissues (g),Tissue Area (cm²),Fat (g),Lean (g),BMC (g),...,Patient ID,Ethnicity,Sex,Height,Weight,Age,Total Body Weight (kg),BMI (kg/m²),Basal Metabolic Rate (kcal/day),Total Body Fat (%)
0,1JS41111WK0345539_A1JR8290QNI05,1JS41111WK0345539,07-01-2007,Head,22.872939,5083.400016,NaN,1162.722988,3920.677028,739.539622,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1JS41111WK0345539_A1JR8290QNI05,1JS41111WK0345539,07-01-2007,Left Arm,32.855213,4672.694435,NaN,1535.223727,3137.470709,215.262942,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1JS41111WK0345539_A1JR8290QNI05,1JS41111WK0345539,07-01-2007,Right Arm,31.237398,5372.870251,NaN,1678.344860,3694.525391,229.718721,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1JS41111WK0345539_A1JR8290QNI05,1JS41111WK0345539,07-01-2007,Trunk,31.796643,37346.910880,NaN,11875.063800,25471.847080,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1JS41111WK0345539_A1JR8290QNI05,1JS41111WK0345539,07-01-2007,Left Leg,35.528063,13353.628370,NaN,4744.285496,8609.342876,570.056910,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35867,1K98290RC401302780M_A1K98290RQZ03,1K98290RC401302780M,07-01-2025,Trunk,52.113250,84163.696120,NaN,43860.437710,40303.258410,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35868,1K98290RC401302780M_A1K98290RQZ03,1K98290RC401302780M,07-01-2025,Left Leg,41.046597,21571.961020,NaN,8854.555836,12717.405190,659.607729,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35869,1K98290RC401302780M_A1K98290RQZ03,1K98290RC401302780M,07-01-2025,Right Leg,42.090970,24132.138040,NaN,10157.451050,13974.686990,632.690886,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35870,1K98290RC401302780M_A1K98290RQZ03,1K98290RC401302780M,07-01-2025,SubTotal,48.993850,143599.437500,NaN,70354.893700,73244.543770,2507.291087,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35871,1K98290RC401302780M_A1K98290RQZ03,1K98290RC401302780M,07-01-2025,Total,47.930197,150113.509300,NaN,71949.700470,78163.808860,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
master_dexa.columns

Index(['Unique ID', 'Patient Name', 'Scan Date', 'Body Part', '% Fat',
       'Tissues (g)', 'Tissue Area (cm²)', 'Fat (g)', 'Lean (g)', 'BMC (g)',
       'BMC Area (cm²)', 'Total Mass (kg)', 'Patient ID', 'Ethnicity', 'Sex',
       'Height', 'Weight', 'Age', 'Total Body Weight (kg)', 'BMI (kg/m²)',
       'Basal Metabolic Rate (kcal/day)', 'Total Body Fat (%)'],
      dtype='object')

In [7]:
composition.columns

Index(['Unique ID', 'Patient Name', 'Scan Date', 'Measure', 'Result',
       'Total Body Weight (kg)', 'BMI (kg/m²)',
       'Basal Metabolic Rate (kcal/day)', 'Total Body Fat (%)',
       'Fat Mass Index (FMI)', 'Android/Gynoid Fat Ratio',
       'Trunk/Legs Fat Ratio', 'Trunk/Limb Fat Mass Ratio',
       'Visceral Fat Area (cm²)', 'Visceral Fat Mass (g)',
       'Visceral Fat Volume (cm³)', 'Subcutaneous Fat Area (cm²)',
       'Total Lean Body (%)', 'Lean Mass Index (kg/m²)',
       'Appendicular Lean Mass Index (kg/m²)', 'Total Bone Mass (%)'],
      dtype='object')

In [8]:
import pandas as pd

# Step 1: Count unique scans per patient in master_dexa
scan_counts = (
    master_dexa.groupby('Patient Name')['Unique ID']
    .nunique()
    .reset_index(name='scan_count')
)

# Step 2: Identify patients with 5 or more scans
patients_5plus = scan_counts[scan_counts['scan_count'] >= 5]['Patient Name']

# Step 3: Filter both datasets
master_dexa_filtered = master_dexa[master_dexa['Patient Name'].isin(patients_5plus)]
composition_filtered = composition[composition['Patient Name'].isin(patients_5plus)]

# Step 4: (optional) Check results
print(f"Number of patients with ≥5 scans: {patients_5plus.nunique()}")
print(f"master_dexa_filtered shape: {master_dexa_filtered.shape}")
print(f"composition_filtered shape: {composition_filtered.shape}")

Number of patients with ≥5 scans: 100
master_dexa_filtered shape: (4520, 22)
composition_filtered shape: (565, 21)

In [9]:
master_dexa_filtered

,Unique ID,Patient Name,Scan Date,Body Part,% Fat,Tissues (g),Tissue Area (cm²),Fat (g),Lean (g),BMC (g),...,Patient ID,Ethnicity,Sex,Height,Weight,Age,Total Body Weight (kg),BMI (kg/m²),Basal Metabolic Rate (kcal/day),Total Body Fat (%)
96,1K3A0816AB03302780M_A1K3A0816BS0G,1K3A0816AB03302780M,07-01-2019,Head,21.962314,4681.382074,NaN,1028.139848,3653.242226,480.740730,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,1K3A0816AB03302780M_A1K3A0816BS0G,1K3A0816AB03302780M,07-01-2019,Left Arm,22.917208,4751.815930,NaN,1088.983539,3662.832391,207.667789,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,1K3A0816AB03302780M_A1K3A0816BS0G,1K3A0816AB03302780M,07-01-2019,Right Arm,19.675225,4882.828910,NaN,960.707562,3922.121347,224.718570,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,1K3A0816AB03302780M_A1K3A0816BS0G,1K3A0816AB03302780M,07-01-2019,Trunk,22.013951,34481.352870,NaN,7590.707990,26890.644880,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,1K3A0816AB03302780M_A1K3A0816BS0G,1K3A0816AB03302780M,07-01-2019,Left Leg,24.708018,12084.525010,NaN,2985.846588,9098.678419,454.387155,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35643,1K781013ZU03302780M_A1K981914WX09,1K781013ZU03302780M,07-01-2025,Trunk,35.324374,72646.074770,NaN,25661.771440,46984.303330,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35644,1K781013ZU03302780M_A1K981914WX09,1K781013ZU03302780M,07-01-2025,Left Leg,37.090798,26153.862700,NaN,9700.676460,16453.186240,684.651531,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35645,1K781013ZU03302780M_A1K981914WX09,1K781013ZU03302780M,07-01-2025,Right Leg,36.358668,26042.309030,NaN,9468.636697,16573.672330,653.913230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35646,1K781013ZU03302780M_A1K981914WX09,1K781013ZU03302780M,07-01-2025,SubTotal,35.988622,140216.579900,NaN,50462.014840,89754.565110,2907.396912,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35647,1K781013ZU03302780M_A1K981914WX09,1K781013ZU03302780M,07-01-2025,Total,35.451471,145988.123500,NaN,51754.937890,94233.185560,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
composition_filtered

,Unique ID,Patient Name,Scan Date,Measure,Result,Total Body Weight (kg),BMI (kg/m²),Basal Metabolic Rate (kcal/day),Total Body Fat (%),Fat Mass Index (FMI),...,Trunk/Legs Fat Ratio,Trunk/Limb Fat Mass Ratio,Visceral Fat Area (cm²),Visceral Fat Mass (g),Visceral Fat Volume (cm³),Subcutaneous Fat Area (cm²),Total Lean Body (%),Lean Mass Index (kg/m²),Appendicular Lean Mass Index (kg/m²),Total Bone Mass (%)
12,1K3A0816AB03302780M_A1K3A0816BS0G,1K3A0816AB03302780M,01/07/2019,NaN,NaN,73.259960,25.087907,1760.957492,22.895339,5.622487,...,1.243445,0.930888,73.704724,355.351478,384.163760,193.972913,77.104661,18.934858,8.696294,3.531449
16,1K3A0816AB03302780M_A1K3A090RVL06,1K3A0816AB03302780M,01/07/2019,NaN,NaN,72.090222,25.087907,1760.957492,22.760083,5.500029,...,1.272073,0.948866,71.363206,344.062354,371.959301,195.191950,77.239917,18.665211,8.580785,3.485970
20,1K3A14188Q03302780M_A1K3A14189V09,1K3A14188Q03302780M,01/07/2019,NaN,NaN,90.523653,33.004654,1751.926485,26.724471,8.740196,...,1.773284,1.283968,196.949515,949.549742,1026.540261,299.384330,73.275529,23.964645,10.602273,2.732878
24,1K3A170TDJ02302780M_A1K3A170THL08,1K3A170TDJ02302780M,01/07/2019,NaN,NaN,99.209814,36.315578,1970.847811,48.344493,17.066574,...,1.363153,0.962334,199.943584,963.985002,1042.145948,490.371220,51.655507,18.235428,8.185958,2.682769
25,1K3A170VMM03302780M_A1K3A170VNN0B,1K3A170VMM03302780M,01/07/2019,NaN,NaN,95.405883,37.908010,1478.144394,41.878678,15.603412,...,2.301694,1.517352,307.330130,1481.726147,1601.866105,566.000064,58.121322,21.655195,9.637132,2.621153
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4424,1K61210VJL01302780M_A1K98050U5I06,1K61210VJL01302780M,01/07/2025,NaN,NaN,103.938504,28.142259,1807.528960,41.405969,11.549011,...,1.033831,0.784340,129.941213,626.483619,677.279588,493.757277,58.594031,16.343129,6.747190,3.668091
4426,1K7C270RZ201302780M_A1K98060WHP08,1K7C270RZ201302780M,01/07/2025,NaN,NaN,94.515291,43.019292,1972.415623,48.579331,20.795743,...,1.585969,1.112869,329.740942,1589.775055,1718.675735,481.960704,51.420669,22.012057,9.706936,1.856631
4433,1K632801Y101302780M_A1K98080VDO09,1K632801Y101302780M,01/07/2025,NaN,NaN,67.774068,24.827925,1762.402608,41.715651,10.372141,...,2.589895,1.729145,203.125225,979.324602,1058.729300,403.379899,58.284349,14.491768,5.895306,3.150147
4444,1K81030RA301302780M_A1K98150O1006,1K81030RA301302780M,01/07/2025,NaN,NaN,63.507133,23.441011,1704.920632,38.587174,9.045822,...,1.467348,1.050685,133.749205,644.843034,697.127605,340.233894,61.412826,14.396739,5.844896,3.751293
4455,1K781013ZU03302780M_A1K981914WX09,1K781013ZU03302780M,01/07/2025,NaN,NaN,145.988123,41.932529,2782.039422,35.451471,14.649436,...,1.338690,1.034739,158.688085,765.080486,827.114039,715.645667,64.548529,26.673070,12.106289,2.402746

In [11]:
composition_filtered.to_csv('composition_indices.csv', index=False)
master_dexa_filtered.to_csv('master_dexa_data.csv', index=False)

In [3]:
import pandas as pd
import os

# Paths to your CSV files - adjust these to match your actual paths
working_csv = "master_dexa_data_Nov.csv"  # REPLACE THIS
broken_csv = "master_dexa_data.csv"       # REPLACE THIS

print("=" * 80)
print("CSV COMPARISON TOOL")
print("=" * 80)

# Check if both files exist
print("\n1. Checking files...")
if not os.path.exists(working_csv):
    print(f"   ✗ Working CSV not found: {working_csv}")
    print("   Please update the working_csv path in this script")
    exit()
else:
    print(f"   ✓ Working CSV found: {working_csv}")
    print(f"     Size: {os.path.getsize(working_csv):,} bytes")

if not os.path.exists(broken_csv):
    print(f"   ✗ Broken CSV not found: {broken_csv}")
    print("   Please update the broken_csv path in this script")
    exit()
else:
    print(f"   ✓ Broken CSV found: {broken_csv}")
    print(f"     Size: {os.path.getsize(broken_csv):,} bytes")

# Load both CSVs
print("\n2. Loading CSVs...")
try:
    df_working = pd.read_csv(working_csv)
    print(f"   ✓ Working CSV loaded: {df_working.shape[0]} rows, {df_working.shape[1]} columns")
except Exception as e:
    print(f"   ✗ Failed to load working CSV: {e}")
    exit()

try:
    df_broken = pd.read_csv(broken_csv)
    print(f"   ✓ Broken CSV loaded: {df_broken.shape[0]} rows, {df_broken.shape[1]} columns")
except Exception as e:
    print(f"   ✗ Failed to load broken CSV: {e}")
    exit()

# Compare basic structure
print("\n3. Basic Structure Comparison:")
print(f"   Working: {df_working.shape[0]} rows × {df_working.shape[1]} columns")
print(f"   Broken:  {df_broken.shape[0]} rows × {df_broken.shape[1]} columns")

if df_working.shape[0] != df_broken.shape[0]:
    print(f"   ⚠ Row count differs by {abs(df_working.shape[0] - df_broken.shape[0])} rows")
if df_working.shape[1] != df_broken.shape[1]:
    print(f"   ⚠ Column count differs by {abs(df_working.shape[1] - df_broken.shape[1])} columns")

# Compare columns
print("\n4. Column Comparison:")
working_cols = set(df_working.columns)
broken_cols = set(df_broken.columns)

if working_cols == broken_cols:
    print(f"   ✓ Both have identical {len(working_cols)} columns")
    print(f"   Columns: {list(df_working.columns)}")
else:
    print(f"   ✗ Columns are different!")
    
    only_in_working = working_cols - broken_cols
    only_in_broken = broken_cols - working_cols
    
    if only_in_working:
        print(f"\n   Columns only in WORKING CSV ({len(only_in_working)}):")
        for col in sorted(only_in_working):
            print(f"      - '{col}'")
    
    if only_in_broken:
        print(f"\n   Columns only in BROKEN CSV ({len(only_in_broken)}):")
        for col in sorted(only_in_broken):
            print(f"      - '{col}'")
    
    common_cols = working_cols & broken_cols
    if common_cols:
        print(f"\n   Common columns ({len(common_cols)}):")
        for col in sorted(common_cols):
            print(f"      - '{col}'")

# Check for Patient Name column specifically
print("\n5. 'Patient Name' Column Check:")
if 'Patient Name' in df_working.columns:
    print(f"   ✓ Working CSV has 'Patient Name'")
    print(f"     - {df_working['Patient Name'].notna().sum()} non-null values")
    print(f"     - {df_working['Patient Name'].nunique()} unique patients")
else:
    print(f"   ✗ Working CSV missing 'Patient Name'")

if 'Patient Name' in df_broken.columns:
    print(f"   ✓ Broken CSV has 'Patient Name'")
    print(f"     - {df_broken['Patient Name'].notna().sum()} non-null values")
    print(f"     - {df_broken['Patient Name'].nunique()} unique patients")
else:
    print(f"   ✗ Broken CSV missing 'Patient Name'")

# Compare Scan Date column as suspected
print("\n6. 'Scan Date' Column Analysis:")
if 'Scan Date' in df_working.columns and 'Scan Date' in df_broken.columns:
    print("   Working CSV - Scan Date:")
    print(f"     - dtype: {df_working['Scan Date'].dtype}")
    print(f"     - Non-null: {df_working['Scan Date'].notna().sum()}/{len(df_working)}")
    print(f"     - Sample values: {df_working['Scan Date'].head(3).tolist()}")
    
    print("   Broken CSV - Scan Date:")
    print(f"     - dtype: {df_broken['Scan Date'].dtype}")
    print(f"     - Non-null: {df_broken['Scan Date'].notna().sum()}/{len(df_broken)}")
    print(f"     - Sample values: {df_broken['Scan Date'].head(3).tolist()}")
    
    # Check if there are problematic date values
    try:
        working_dates = pd.to_datetime(df_working['Scan Date'], errors='coerce')
        broken_dates = pd.to_datetime(df_broken['Scan Date'], errors='coerce')
        
        print("\n   Date parsing check:")
        print(f"     - Working: {working_dates.isna().sum()} unparseable dates")
        print(f"     - Broken: {broken_dates.isna().sum()} unparseable dates")
        
        if broken_dates.isna().sum() > 0:
            print("\n   ⚠ Problematic dates in broken CSV:")
            bad_dates = df_broken[broken_dates.isna()]['Scan Date'].unique()
            for date in bad_dates[:5]:  # Show first 5
                print(f"      - '{date}'")
    except Exception as e:
        print(f"   Error parsing dates: {e}")

# Data type comparison for common columns
if working_cols == broken_cols:
    print("\n7. Data Type Comparison:")
    dtype_diffs = []
    for col in df_working.columns:
        if df_working[col].dtype != df_broken[col].dtype:
            dtype_diffs.append(col)
            print(f"   ⚠ '{col}': {df_working[col].dtype} (working) vs {df_broken[col].dtype} (broken)")
    
    if not dtype_diffs:
        print("   ✓ All data types match")

# First few rows comparison
print("\n8. First 3 Rows - Working CSV:")
print(df_working.head(3))

print("\n9. First 3 Rows - Broken CSV:")
print(df_broken.head(3))

# Check for empty rows
print("\n10. Empty Row Check:")
working_empty = df_working.isna().all(axis=1).sum()
broken_empty = df_broken.isna().all(axis=1).sum()
print(f"   Working: {working_empty} completely empty rows")
print(f"   Broken: {broken_empty} completely empty rows")

# Null value comparison
print("\n11. Null Values Summary:")
print("\n   Working CSV:")
working_nulls = df_working.isna().sum()
if working_nulls.sum() > 0:
    print(working_nulls[working_nulls > 0])
else:
    print("   No null values")

print("\n   Broken CSV:")
broken_nulls = df_broken.isna().sum()
if broken_nulls.sum() > 0:
    print(broken_nulls[broken_nulls > 0])
else:
    print("   No null values")

print("\n" + "=" * 80)
print("COMPARISON COMPLETE")
print("=" * 80)

# Summary recommendation
print("\n📋 SUMMARY & RECOMMENDATIONS:")
if df_working.shape[1] == 0 or df_broken.shape[1] == 0:
    print("   🚨 One or both files have NO COLUMNS - likely a parsing issue!")
    print("   Try opening the CSV in a text editor to check the format")
elif working_cols != broken_cols:
    print("   🚨 Column mismatch detected - this is likely your issue!")
    print("   The broken CSV is missing critical columns")
elif df_working.shape != df_broken.shape:
    print("   ⚠ Different number of rows - data may be incomplete")
else:
    print("   ℹ Files have same structure - issue may be in data values")
    print("   Check the Scan Date analysis above for problematic values")

================================================================================
CSV COMPARISON TOOL
================================================================================

1. Checking files...
   ✓ Working CSV found: master_dexa_data_Nov.csv
     Size: 694,660 bytes
   ✓ Broken CSV found: master_dexa_data.csv
     Size: 694,660 bytes

2. Loading CSVs...
   ✓ Working CSV loaded: 4520 rows, 22 columns
   ✓ Broken CSV loaded: 4520 rows, 22 columns

3. Basic Structure Comparison:
   Working: 4520 rows × 22 columns
   Broken:  4520 rows × 22 columns

4. Column Comparison:
   ✓ Both have identical 22 columns
   Columns: ['Unique ID', 'Patient Name', 'Scan Date', 'Body Part', '% Fat', 'Tissues (g)', 'Tissue Area (cm²)', 'Fat (g)', 'Lean (g)', 'BMC (g)', 'BMC Area (cm²)', 'Total Mass (kg)', 'Patient ID', 'Ethnicity', 'Sex', 'Height', 'Weight', 'Age', 'Total Body Weight (kg)', 'BMI (kg/m²)', 'Basal Metabolic Rate (kcal/day)', 'Total Body Fat (%)']

5. 'Patient Name' Column Check:
   ✓ Working CSV has 'Patient Name'
     - 4520 non-null values
     - 100 unique patients
   ✓ Broken CSV has 'Patient Name'
     - 4520 non-null values
     - 100 unique patients

6. 'Scan Date' Column Analysis:
   Working CSV - Scan Date:
     - dtype: object
     - Non-null: 4520/4520
     - Sample values: ['07-01-2019', '07-01-2019', '07-01-2019']
   Broken CSV - Scan Date:
     - dtype: object
     - Non-null: 4520/4520
     - Sample values: ['10-08-2019', '10-08-2019', '10-08-2019']

   Date parsing check:
     - Working: 0 unparseable dates
     - Broken: 0 unparseable dates

7. Data Type Comparison:
   ✓ All data types match

8. First 3 Rows - Working CSV:
                           Unique ID         Patient Name   Scan Date  \
0  1K3A0816AB03302780M_A1K3A0816BS0G  1K3A0816AB03302780M  07-01-2019
1  1K3A0816AB03302780M_A1K3A0816BS0G  1K3A0816AB03302780M  07-01-2019
2  1K3A0816AB03302780M_A1K3A0816BS0G  1K3A0816AB03302780M  07-01-2019

   Body Part      % Fat  Tissues (g)  Tissue Area (cm²)      Fat (g)  \
0       Head  21.962314  4681.382074                NaN  1028.139848
1   Left Arm  22.917208  4751.815930                NaN  1088.983539
2  Right Arm  19.675225  4882.828910                NaN   960.707562

      Lean (g)     BMC (g)  ...  Patient ID  Ethnicity  Sex  Height  Weight  \
0  3653.242226  480.740730  ...         NaN        NaN  NaN     NaN     NaN
1  3662.832391  207.667789  ...         NaN        NaN  NaN     NaN     NaN
2  3922.121347  224.718570  ...         NaN        NaN  NaN     NaN     NaN

   Age  Total Body Weight (kg)  BMI (kg/m²)  Basal Metabolic Rate (kcal/day)  \
0  NaN                     NaN          NaN                              NaN
1  NaN                     NaN          NaN                              NaN
2  NaN                     NaN          NaN                              NaN

   Total Body Fat (%)
0                 NaN
1                 NaN
2                 NaN

[3 rows x 22 columns]

9. First 3 Rows - Broken CSV:
                           Unique ID         Patient Name   Scan Date  \
0  1K3A0816AB03302780M_A1K3A0816BS0G  1K3A0816AB03302780M  10-08-2019
1  1K3A0816AB03302780M_A1K3A0816BS0G  1K3A0816AB03302780M  10-08-2019
2  1K3A0816AB03302780M_A1K3A0816BS0G  1K3A0816AB03302780M  10-08-2019

   Body Part      % Fat  Tissues (g)  Tissue Area (cm²)      Fat (g)  \
0       Head  21.962314  4681.382074                NaN  1028.139848
1   Left Arm  22.917208  4751.815930                NaN  1088.983539
2  Right Arm  19.675225  4882.828910                NaN   960.707562

      Lean (g)     BMC (g)  ...  Patient ID  Ethnicity  Sex  Height  Weight  \
0  3653.242226  480.740730  ...         NaN        NaN  NaN     NaN     NaN
1  3662.832391  207.667789  ...         NaN        NaN  NaN     NaN     NaN
2  3922.121347  224.718570  ...         NaN        NaN  NaN     NaN     NaN

   Age  Total Body Weight (kg)  BMI (kg/m²)  Basal Metabolic Rate (kcal/day)  \
0  NaN                     NaN          NaN                              NaN
1  NaN                     NaN          NaN                              NaN
2  NaN                     NaN          NaN                              NaN

   Total Body Fat (%)
0                 NaN
1                 NaN
2                 NaN

[3 rows x 22 columns]

10. Empty Row Check:
   Working: 0 completely empty rows
   Broken: 0 completely empty rows

11. Null Values Summary:

   Working CSV:
Tissue Area (cm²)                  4520
BMC (g)                            1130
BMC Area (cm²)                     4520
Patient ID                         4520
Ethnicity                          4520
Sex                                4520
Height                             4520
Weight                             4520
Age                                4520
Total Body Weight (kg)             4520
BMI (kg/m²)                        4520
Basal Metabolic Rate (kcal/day)    4520
Total Body Fat (%)                 4520
dtype: int64

   Broken CSV:
Tissue Area (cm²)                  4520
BMC (g)                            1130
BMC Area (cm²)                     4520
Patient ID                         4520
Ethnicity                          4520
Sex                                4520
Height                             4520
Weight                             4520
Age                                4520
Total Body Weight (kg)             4520
BMI (kg/m²)                        4520
Basal Metabolic Rate (kcal/day)    4520
Total Body Fat (%)                 4520
dtype: int64

================================================================================
COMPARISON COMPLETE
================================================================================

📋 SUMMARY & RECOMMENDATIONS:
   ℹ Files have same structure - issue may be in data values
   Check the Scan Date analysis above for problematic values

In [2]:
import pandas as pd

# Load the broken CSV
df = pd.read_csv('master_dexa_data.csv')

# Convert the date from YYYY-MM-DD to MM-DD-YYYY format
df['Scan Date'] = pd.to_datetime(df['Scan Date']).dt.strftime('%m-%d-%Y')

# Save it back
df.to_csv('master_dexa_data.csv', index=False)

print("✓ Fixed! Scan Date format changed from YYYY-MM-DD to MM-DD-YYYY")
print(f"Sample dates: {df['Scan Date'].head(3).tolist()}")

✓ Fixed! Scan Date format changed from YYYY-MM-DD to MM-DD-YYYY
Sample dates: ['10-08-2019', '10-08-2019', '10-08-2019']

In [4]:
import pandas as pd

# Load both files
working = pd.read_csv('master_dexa_data_Nov.csv')
fixed = pd.read_csv('master_dexa_data.csv')

print("Working CSV - unique dates:")
print(working['Scan Date'].unique()[:10])

print("\nFixed CSV - unique dates:")
print(fixed['Scan Date'].unique()[:10])

print("\nWorking CSV - all dates same format?")
print(f"Min length: {working['Scan Date'].str.len().min()}")
print(f"Max length: {working['Scan Date'].str.len().max()}")

print("\nFixed CSV - all dates same format?")
print(f"Min length: {fixed['Scan Date'].str.len().min()}")
print(f"Max length: {fixed['Scan Date'].str.len().max()}")

Working CSV - unique dates:
['07-01-2019' '07-01-2020' '07-01-2021' '07-01-2022' '07-01-2023'
 '07-01-2024' '07-01-2025']

Fixed CSV - unique dates:
['10-08-2019' '10-09-2019' '10-14-2019' '10-17-2019' '10-22-2019'
 '10-29-2019' '11-18-2019' '11-21-2019' '12-07-2019' '12-31-2019']

Working CSV - all dates same format?
Min length: 10
Max length: 10

Fixed CSV - all dates same format?
Min length: 10
Max length: 10

In [32]:
composition.to_csv("composition_indices.csv", index=False)

In [31]:
composition

,Unique ID,Patient Name,Scan Date,Measure,Result,Total Body Weight (kg),BMI (kg/m²),Basal Metabolic Rate (kcal/day),Total Body Fat (%),Fat Mass Index (FMI),...,Trunk/Legs Fat Ratio,Trunk/Limb Fat Mass Ratio,Visceral Fat Area (cm²),Visceral Fat Mass (g),Visceral Fat Volume (cm³),Subcutaneous Fat Area (cm²),Total Lean Body (%),Lean Mass Index (kg/m²),Appendicular Lean Mass Index (kg/m²),Total Bone Mass (%)
0,1K3A0816AB03302780M_A1K3A0816BS0G,1K3A0816AB03302780M,10-08-2019,NaN,NaN,73.259960,25.087907,1760.957492,22.895339,5.622487,...,1.243445,0.930888,73.704724,355.351478,384.163760,193.972913,77.104661,18.934858,8.696294,3.531449
1,1K3A0816AB03302780M_A1K3A090RVL06,1K3A0816AB03302780M,10-09-2019,NaN,NaN,72.090222,25.087907,1760.957492,22.760083,5.500029,...,1.272073,0.948866,71.363206,344.062354,371.959301,195.191950,77.239917,18.665211,8.580785,3.485970
2,1K3A14188Q03302780M_A1K3A14189V09,1K3A14188Q03302780M,10-14-2019,NaN,NaN,90.523653,33.004654,1751.926485,26.724471,8.740196,...,1.773284,1.283968,196.949515,949.549742,1026.540261,299.384330,73.275529,23.964645,10.602273,2.732878
3,1K3A170TDJ02302780M_A1K3A170THL08,1K3A170TDJ02302780M,10-17-2019,NaN,NaN,99.209814,36.315578,1970.847811,48.344493,17.066574,...,1.363153,0.962334,199.943584,963.985002,1042.145948,490.371220,51.655507,18.235428,8.185958,2.682769
4,1K3A170VMM03302780M_A1K3A170VNN0B,1K3A170VMM03302780M,10-17-2019,NaN,NaN,95.405883,37.908010,1478.144394,41.878678,15.603412,...,2.301694,1.517352,307.330130,1481.726147,1601.866105,566.000064,58.121322,21.655195,9.637132,2.621153
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560,1K61210VJL01302780M_A1K98050U5I06,1K61210VJL01302780M,08-05-2025,NaN,NaN,103.938504,28.142259,1807.528960,41.405969,11.549011,...,1.033831,0.784340,129.941213,626.483619,677.279588,493.757277,58.594031,16.343129,6.747190,3.668091
561,1K7C270RZ201302780M_A1K98060WHP08,1K7C270RZ201302780M,08-06-2025,NaN,NaN,94.515291,43.019292,1972.415623,48.579331,20.795743,...,1.585969,1.112869,329.740942,1589.775055,1718.675735,481.960704,51.420669,22.012057,9.706936,1.856631
562,1K632801Y101302780M_A1K98080VDO09,1K632801Y101302780M,08-08-2025,NaN,NaN,67.774068,24.827925,1762.402608,41.715651,10.372141,...,2.589895,1.729145,203.125225,979.324602,1058.729300,403.379899,58.284349,14.491768,5.895306,3.150147
563,1K81030RA301302780M_A1K98150O1006,1K81030RA301302780M,08-15-2025,NaN,NaN,63.507133,23.441011,1704.920632,38.587174,9.045822,...,1.467348,1.050685,133.749205,644.843034,697.127605,340.233894,61.412826,14.396739,5.844896,3.751293
564,1K781013ZU03302780M_A1K981914WX09,1K781013ZU03302780M,08-19-2025,NaN,NaN,145.988123,41.932529,2782.039422,35.451471,14.649436,...,1.338690,1.034739,158.688085,765.080486,827.114039,715.645667,64.548529,26.673070,12.106289,2.402746

In [13]:
composition["Scan Date"] = pd.to_datetime(composition["Scan Date"], format="%Y-%m-%d")

In [14]:
composition

,Unique ID,Patient Name,Scan Date,Measure,Result,Total Body Weight (kg),BMI (kg/m²),Basal Metabolic Rate (kcal/day),Total Body Fat (%),Fat Mass Index (FMI),...,Trunk/Legs Fat Ratio,Trunk/Limb Fat Mass Ratio,Visceral Fat Area (cm²),Visceral Fat Mass (g),Visceral Fat Volume (cm³),Subcutaneous Fat Area (cm²),Total Lean Body (%),Lean Mass Index (kg/m²),Appendicular Lean Mass Index (kg/m²),Total Bone Mass (%)
0,1K3A0816AB03302780M_A1K3A0816BS0G,1K3A0816AB03302780M,2019-10-08,NaN,NaN,73.259960,25.087907,1760.957492,22.895339,5.622487,...,1.243445,0.930888,73.704724,355.351478,384.163760,193.972913,77.104661,18.934858,8.696294,3.531449
1,1K3A0816AB03302780M_A1K3A090RVL06,1K3A0816AB03302780M,2019-10-09,NaN,NaN,72.090222,25.087907,1760.957492,22.760083,5.500029,...,1.272073,0.948866,71.363206,344.062354,371.959301,195.191950,77.239917,18.665211,8.580785,3.485970
2,1K3A14188Q03302780M_A1K3A14189V09,1K3A14188Q03302780M,2019-10-14,NaN,NaN,90.523653,33.004654,1751.926485,26.724471,8.740196,...,1.773284,1.283968,196.949515,949.549742,1026.540261,299.384330,73.275529,23.964645,10.602273,2.732878
3,1K3A170TDJ02302780M_A1K3A170THL08,1K3A170TDJ02302780M,2019-10-17,NaN,NaN,99.209814,36.315578,1970.847811,48.344493,17.066574,...,1.363153,0.962334,199.943584,963.985002,1042.145948,490.371220,51.655507,18.235428,8.185958,2.682769
4,1K3A170VMM03302780M_A1K3A170VNN0B,1K3A170VMM03302780M,2019-10-17,NaN,NaN,95.405883,37.908010,1478.144394,41.878678,15.603412,...,2.301694,1.517352,307.330130,1481.726147,1601.866105,566.000064,58.121322,21.655195,9.637132,2.621153
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560,1K61210VJL01302780M_A1K98050U5I06,1K61210VJL01302780M,2025-08-05,NaN,NaN,103.938504,28.142259,1807.528960,41.405969,11.549011,...,1.033831,0.784340,129.941213,626.483619,677.279588,493.757277,58.594031,16.343129,6.747190,3.668091
561,1K7C270RZ201302780M_A1K98060WHP08,1K7C270RZ201302780M,2025-08-06,NaN,NaN,94.515291,43.019292,1972.415623,48.579331,20.795743,...,1.585969,1.112869,329.740942,1589.775055,1718.675735,481.960704,51.420669,22.012057,9.706936,1.856631
562,1K632801Y101302780M_A1K98080VDO09,1K632801Y101302780M,2025-08-08,NaN,NaN,67.774068,24.827925,1762.402608,41.715651,10.372141,...,2.589895,1.729145,203.125225,979.324602,1058.729300,403.379899,58.284349,14.491768,5.895306,3.150147
563,1K81030RA301302780M_A1K98150O1006,1K81030RA301302780M,2025-08-15,NaN,NaN,63.507133,23.441011,1704.920632,38.587174,9.045822,...,1.467348,1.050685,133.749205,644.843034,697.127605,340.233894,61.412826,14.396739,5.844896,3.751293
564,1K781013ZU03302780M_A1K981914WX09,1K781013ZU03302780M,2025-08-19,NaN,NaN,145.988123,41.932529,2782.039422,35.451471,14.649436,...,1.338690,1.034739,158.688085,765.080486,827.114039,715.645667,64.548529,26.673070,12.106289,2.402746