In [1]:
import pandas as pd

composition = pd.read_csv('composition_indices.csv')
master_dexa = pd.read_csv('master_dexa_data.csv')

In [2]:
composition

,Unique ID,Patient Name,Scan Date,Measure,Result,Total Body Weight (kg),BMI (kg/m²),Basal Metabolic Rate (kcal/day),Total Body Fat (%),Fat Mass Index (FMI),...,Trunk/Legs Fat Ratio,Trunk/Limb Fat Mass Ratio,Visceral Fat Area (cm²),Visceral Fat Mass (g),Visceral Fat Volume (cm³),Subcutaneous Fat Area (cm²),Total Lean Body (%),Lean Mass Index (kg/m²),Appendicular Lean Mass Index (kg/m²),Total Bone Mass (%)
0,1JS41111WK0345539_A1JR8290QNI05,1JS41111WK0345539,01/07/2007,NaN,NaN,80.294954,25.326662,2254.910351,32.247254,8.308908,...,1.231653,0.923761,85.141773,410.492754,443.775951,249.709535,67.752746,17.457342,8.025427,4.004587
1,1JS41111WK0345539_A1JS1240YAI07,1JS41111WK0345539,01/07/2008,NaN,NaN,75.746266,24.453329,2249.233351,30.966284,7.526850,...,1.274844,0.935969,100.334998,483.743621,522.966077,234.930539,69.033716,16.779748,7.861384,4.047187
2,1JS41111WK0345539_A1JS41111XZ07,1JS41111WK0345539,01/07/2008,NaN,NaN,73.233874,23.594551,2249.233351,23.360508,5.489809,...,1.046918,0.792611,56.318948,271.529701,293.545622,174.743274,76.639492,18.010575,8.437779,4.171192
3,1JT4170UJV0445539_A1JT4170UKG06,1JT4170UJV0445539,01/07/2009,NaN,NaN,104.025665,31.356030,2686.033555,27.474853,8.665555,...,1.581433,1.192724,128.524693,619.654175,669.896406,390.411284,72.525147,22.874394,10.343263,2.752618
4,1JTC150TUP0383455_A1JTC150U930J,1JTC150TUP0383455,01/07/2009,NaN,NaN,120.590389,46.380187,2292.461491,49.718847,23.047237,...,1.977339,1.295547,222.705346,1073.725946,1160.784807,739.312461,50.281153,23.307894,8.706702,1.775686
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4479,1K98280MXQ01302780M_A1K98280MXX03,1K98280MXQ01302780M,01/07/2025,NaN,NaN,84.041432,31.583204,1935.137718,43.065271,13.695984,...,1.466349,1.092137,163.175224,786.714259,850.501902,523.114148,56.934729,18.106867,8.116083,2.955791
4480,1K98280QPV02302780M_A1K98280QZQ06,1K98280QPV02302780M,01/07/2025,NaN,NaN,122.836872,44.869286,2003.175406,56.847511,25.228427,...,1.308883,1.024444,162.837227,785.084680,848.740195,883.231297,43.152489,19.150696,8.546729,1.912146
4481,1K98280RV703302780M_A1K98280S7Y09,1K98280RV703302780M,01/07/2025,NaN,NaN,86.650679,31.916863,1902.112714,45.606329,14.497828,...,1.284465,1.073853,265.460581,1279.861115,1383.633638,418.401335,54.393671,17.291242,7.018611,1.834698
4482,1K921117HN04302780M_A1K98280THM0D,1K921117HN04302780M,01/07/2025,NaN,NaN,94.251626,30.102857,1995.129023,33.193825,9.896523,...,2.094693,1.516897,201.180613,969.949074,1048.593594,369.393254,66.806175,19.917826,8.782371,3.075474
4483,1K98290RC401302780M_A1K98290RQZ03,1K98290RC401302780M,01/07/2025,NaN,NaN,150.113509,31.830716,2653.364692,47.930197,21.512781,...,2.306986,1.655457,431.276344,2079.306169,2247.898561,693.637902,52.069803,23.370784,9.849362,2.009780

In [5]:
master_dexa

,Unique ID,Patient Name,Scan Date,Body Part,% Fat,Tissues (g),Tissue Area (cm²),Fat (g),Lean (g),BMC (g),...,Patient ID,Ethnicity,Sex,Height,Weight,Age,Total Body Weight (kg),BMI (kg/m²),Basal Metabolic Rate (kcal/day),Total Body Fat (%)
0,1JS41111WK0345539_A1JR8290QNI05,1JS41111WK0345539,07-01-2007,Head,22.872939,5083.400016,NaN,1162.722988,3920.677028,739.539622,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1JS41111WK0345539_A1JR8290QNI05,1JS41111WK0345539,07-01-2007,Left Arm,32.855213,4672.694435,NaN,1535.223727,3137.470709,215.262942,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1JS41111WK0345539_A1JR8290QNI05,1JS41111WK0345539,07-01-2007,Right Arm,31.237398,5372.870251,NaN,1678.344860,3694.525391,229.718721,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1JS41111WK0345539_A1JR8290QNI05,1JS41111WK0345539,07-01-2007,Trunk,31.796643,37346.910880,NaN,11875.063800,25471.847080,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1JS41111WK0345539_A1JR8290QNI05,1JS41111WK0345539,07-01-2007,Left Leg,35.528063,13353.628370,NaN,4744.285496,8609.342876,570.056910,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35867,1K98290RC401302780M_A1K98290RQZ03,1K98290RC401302780M,07-01-2025,Trunk,52.113250,84163.696120,NaN,43860.437710,40303.258410,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35868,1K98290RC401302780M_A1K98290RQZ03,1K98290RC401302780M,07-01-2025,Left Leg,41.046597,21571.961020,NaN,8854.555836,12717.405190,659.607729,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35869,1K98290RC401302780M_A1K98290RQZ03,1K98290RC401302780M,07-01-2025,Right Leg,42.090970,24132.138040,NaN,10157.451050,13974.686990,632.690886,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35870,1K98290RC401302780M_A1K98290RQZ03,1K98290RC401302780M,07-01-2025,SubTotal,48.993850,143599.437500,NaN,70354.893700,73244.543770,2507.291087,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35871,1K98290RC401302780M_A1K98290RQZ03,1K98290RC401302780M,07-01-2025,Total,47.930197,150113.509300,NaN,71949.700470,78163.808860,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
master_dexa.columns

Index(['Unique ID', 'Patient Name', 'Scan Date', 'Body Part', '% Fat',
       'Tissues (g)', 'Tissue Area (cm²)', 'Fat (g)', 'Lean (g)', 'BMC (g)',
       'BMC Area (cm²)', 'Total Mass (kg)', 'Patient ID', 'Ethnicity', 'Sex',
       'Height', 'Weight', 'Age', 'Total Body Weight (kg)', 'BMI (kg/m²)',
       'Basal Metabolic Rate (kcal/day)', 'Total Body Fat (%)'],
      dtype='object')

In [7]:
composition.columns

Index(['Unique ID', 'Patient Name', 'Scan Date', 'Measure', 'Result',
       'Total Body Weight (kg)', 'BMI (kg/m²)',
       'Basal Metabolic Rate (kcal/day)', 'Total Body Fat (%)',
       'Fat Mass Index (FMI)', 'Android/Gynoid Fat Ratio',
       'Trunk/Legs Fat Ratio', 'Trunk/Limb Fat Mass Ratio',
       'Visceral Fat Area (cm²)', 'Visceral Fat Mass (g)',
       'Visceral Fat Volume (cm³)', 'Subcutaneous Fat Area (cm²)',
       'Total Lean Body (%)', 'Lean Mass Index (kg/m²)',
       'Appendicular Lean Mass Index (kg/m²)', 'Total Bone Mass (%)'],
      dtype='object')

In [8]:
import pandas as pd

# Step 1: Count unique scans per patient in master_dexa
scan_counts = (
    master_dexa.groupby('Patient Name')['Unique ID']
    .nunique()
    .reset_index(name='scan_count')
)

# Step 2: Identify patients with 5 or more scans
patients_5plus = scan_counts[scan_counts['scan_count'] >= 5]['Patient Name']

# Step 3: Filter both datasets
master_dexa_filtered = master_dexa[master_dexa['Patient Name'].isin(patients_5plus)]
composition_filtered = composition[composition['Patient Name'].isin(patients_5plus)]

# Step 4: (optional) Check results
print(f"Number of patients with ≥5 scans: {patients_5plus.nunique()}")
print(f"master_dexa_filtered shape: {master_dexa_filtered.shape}")
print(f"composition_filtered shape: {composition_filtered.shape}")

Number of patients with ≥5 scans: 100
master_dexa_filtered shape: (4520, 22)
composition_filtered shape: (565, 21)

In [9]:
master_dexa_filtered

,Unique ID,Patient Name,Scan Date,Body Part,% Fat,Tissues (g),Tissue Area (cm²),Fat (g),Lean (g),BMC (g),...,Patient ID,Ethnicity,Sex,Height,Weight,Age,Total Body Weight (kg),BMI (kg/m²),Basal Metabolic Rate (kcal/day),Total Body Fat (%)
96,1K3A0816AB03302780M_A1K3A0816BS0G,1K3A0816AB03302780M,07-01-2019,Head,21.962314,4681.382074,NaN,1028.139848,3653.242226,480.740730,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,1K3A0816AB03302780M_A1K3A0816BS0G,1K3A0816AB03302780M,07-01-2019,Left Arm,22.917208,4751.815930,NaN,1088.983539,3662.832391,207.667789,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,1K3A0816AB03302780M_A1K3A0816BS0G,1K3A0816AB03302780M,07-01-2019,Right Arm,19.675225,4882.828910,NaN,960.707562,3922.121347,224.718570,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,1K3A0816AB03302780M_A1K3A0816BS0G,1K3A0816AB03302780M,07-01-2019,Trunk,22.013951,34481.352870,NaN,7590.707990,26890.644880,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,1K3A0816AB03302780M_A1K3A0816BS0G,1K3A0816AB03302780M,07-01-2019,Left Leg,24.708018,12084.525010,NaN,2985.846588,9098.678419,454.387155,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35643,1K781013ZU03302780M_A1K981914WX09,1K781013ZU03302780M,07-01-2025,Trunk,35.324374,72646.074770,NaN,25661.771440,46984.303330,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35644,1K781013ZU03302780M_A1K981914WX09,1K781013ZU03302780M,07-01-2025,Left Leg,37.090798,26153.862700,NaN,9700.676460,16453.186240,684.651531,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35645,1K781013ZU03302780M_A1K981914WX09,1K781013ZU03302780M,07-01-2025,Right Leg,36.358668,26042.309030,NaN,9468.636697,16573.672330,653.913230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35646,1K781013ZU03302780M_A1K981914WX09,1K781013ZU03302780M,07-01-2025,SubTotal,35.988622,140216.579900,NaN,50462.014840,89754.565110,2907.396912,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35647,1K781013ZU03302780M_A1K981914WX09,1K781013ZU03302780M,07-01-2025,Total,35.451471,145988.123500,NaN,51754.937890,94233.185560,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
composition_filtered

,Unique ID,Patient Name,Scan Date,Measure,Result,Total Body Weight (kg),BMI (kg/m²),Basal Metabolic Rate (kcal/day),Total Body Fat (%),Fat Mass Index (FMI),...,Trunk/Legs Fat Ratio,Trunk/Limb Fat Mass Ratio,Visceral Fat Area (cm²),Visceral Fat Mass (g),Visceral Fat Volume (cm³),Subcutaneous Fat Area (cm²),Total Lean Body (%),Lean Mass Index (kg/m²),Appendicular Lean Mass Index (kg/m²),Total Bone Mass (%)
12,1K3A0816AB03302780M_A1K3A0816BS0G,1K3A0816AB03302780M,01/07/2019,NaN,NaN,73.259960,25.087907,1760.957492,22.895339,5.622487,...,1.243445,0.930888,73.704724,355.351478,384.163760,193.972913,77.104661,18.934858,8.696294,3.531449
16,1K3A0816AB03302780M_A1K3A090RVL06,1K3A0816AB03302780M,01/07/2019,NaN,NaN,72.090222,25.087907,1760.957492,22.760083,5.500029,...,1.272073,0.948866,71.363206,344.062354,371.959301,195.191950,77.239917,18.665211,8.580785,3.485970
20,1K3A14188Q03302780M_A1K3A14189V09,1K3A14188Q03302780M,01/07/2019,NaN,NaN,90.523653,33.004654,1751.926485,26.724471,8.740196,...,1.773284,1.283968,196.949515,949.549742,1026.540261,299.384330,73.275529,23.964645,10.602273,2.732878
24,1K3A170TDJ02302780M_A1K3A170THL08,1K3A170TDJ02302780M,01/07/2019,NaN,NaN,99.209814,36.315578,1970.847811,48.344493,17.066574,...,1.363153,0.962334,199.943584,963.985002,1042.145948,490.371220,51.655507,18.235428,8.185958,2.682769
25,1K3A170VMM03302780M_A1K3A170VNN0B,1K3A170VMM03302780M,01/07/2019,NaN,NaN,95.405883,37.908010,1478.144394,41.878678,15.603412,...,2.301694,1.517352,307.330130,1481.726147,1601.866105,566.000064,58.121322,21.655195,9.637132,2.621153
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4424,1K61210VJL01302780M_A1K98050U5I06,1K61210VJL01302780M,01/07/2025,NaN,NaN,103.938504,28.142259,1807.528960,41.405969,11.549011,...,1.033831,0.784340,129.941213,626.483619,677.279588,493.757277,58.594031,16.343129,6.747190,3.668091
4426,1K7C270RZ201302780M_A1K98060WHP08,1K7C270RZ201302780M,01/07/2025,NaN,NaN,94.515291,43.019292,1972.415623,48.579331,20.795743,...,1.585969,1.112869,329.740942,1589.775055,1718.675735,481.960704,51.420669,22.012057,9.706936,1.856631
4433,1K632801Y101302780M_A1K98080VDO09,1K632801Y101302780M,01/07/2025,NaN,NaN,67.774068,24.827925,1762.402608,41.715651,10.372141,...,2.589895,1.729145,203.125225,979.324602,1058.729300,403.379899,58.284349,14.491768,5.895306,3.150147
4444,1K81030RA301302780M_A1K98150O1006,1K81030RA301302780M,01/07/2025,NaN,NaN,63.507133,23.441011,1704.920632,38.587174,9.045822,...,1.467348,1.050685,133.749205,644.843034,697.127605,340.233894,61.412826,14.396739,5.844896,3.751293
4455,1K781013ZU03302780M_A1K981914WX09,1K781013ZU03302780M,01/07/2025,NaN,NaN,145.988123,41.932529,2782.039422,35.451471,14.649436,...,1.338690,1.034739,158.688085,765.080486,827.114039,715.645667,64.548529,26.673070,12.106289,2.402746

In [11]:
composition_filtered.to_csv('composition_indices.csv', index=False)
master_dexa_filtered.to_csv('master_dexa_data.csv', index=False)